Capítulo <%= cap.num %>: <%= cap.titulo %><br>
Nota:<br>
<ol>
    <% cap.notas_capitulo.forEach((nota_capitulo) => { %>
        <li>
            <%= nota_capitulo.texto %><% if(nota_capitulo.sub_nota.length){ %>
            <ol>
                    <% nota_capitulo.sub_nota.forEach((sub) => { %>
                        <li><%= sub %></li>
                    <% }); %>
            </ol><% } %>
        </li><% }); %>
</ol>
