<div class="grid-result">
  <% tabelas.forEach((seção) => { %>
  <div>
    <form action="/secao/<%= seção.num %>" method="get">
      <button class="grid-seção">
        Seção
        <%= seção.roman %><br>
        <% seção.descrição.forEach((descrição) => { %>
        <%= descrição %><br>
        <% }); %>
      </button>
    </form>
  </div>
  <% }); %>
</div>