<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./templates/head %>
</head>

<body>

  <header>
    <% include ./templates/searchBar %>
    <a href="/">Home</a>
  </header>

  <section>
    <%- body %>

  </section>

  <footer>
    <% include ./templates/footer %>
  </footer>

</body>

</html>