<div class="search-container">
  <div class="search-item logo">
    <hr class="hrLogo">
    <span id="logoTabela">TABELA</span>
    <br>
    <span id="logoNCM">NCM</span>
    <hr class="hrLogo">
  </div>
  <div class="search-item busca">
    <form method="POST">
      <input type="search" name="buscaNCM" id="buscaNCM" placeholder="Pesquise pelo código ou descrição..." size="50"
        aria-label="Descubra qual IPI do seu artigo pesquisando pelo código NCM ou pela descrição">
      <button type="submit" id="buscaBtn"><i class="fa fa-search"></i></button>
    </form>
    <a href="/" id="navigation">Home</a>
    <% if(locals.secao){ %>> Secao
    <%= secao.roman %>
    <% } %>
    <% if(locals.cap){ %>> <a href="/secao/<%= tabelas.num %>">Secao
      <%= tabelas.roman %></a> > Capitulo
    <%= cap.num %>
    <% } %>
  </div>
</div>